on:
  pull_request:
    paths:
      - .github/workflows/build.yml
      - src/**
      - xmake.lua
  push:
    paths:
      - .github/workflows/build.yml
      - src/**
      - xmake.lua
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        backend:
          - nodejs
          - lua
          - python
          - quickjs
        target_type:
          - client
          - server
    steps:
      - uses: actions/checkout@v4

      - uses: xmake-io/github-action-setup-xmake@v1

      - uses: actions/cache@v4
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m release -p windows -v -y --target_type=${{ matrix.target_type }} --backend=${{ matrix.backend }}

      - run: |
          xmake -y

      - uses: actions/upload-artifact@v4
        with:
          name: legacy-script-engine-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.backend }}-windows-x64
          path: |
            bin/
