on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        backend:
          - nodejs
          - lua
          - python
          - quickjs
    steps:
      - uses: actions/checkout@v4

      - uses: xmake-io/github-action-setup-xmake@v1

      - uses: matbour/setup-sentry-cli@v1
        with:
          token: ${{ SECRETS.SENTRY_TOKEN }}
          organization: ${{ SECRETS.SENTRY_ORG }}
          project: ${{ SECRETS.SENTRY_PROJECT }}

      - uses: actions/cache@v4
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m release -p windows -v -y --backend=${{ matrix.backend }} --publish=true

      - run: |
          xmake -y

      - run: |
          sentry-cli debug-files upload --include-sources bin/legacy-script-engine-${{ matrix.backend }}

      - uses: actions/upload-artifact@v4
        with:
          name: legacy-script-engine-${{ matrix.backend }}-windows-x64-${{ github.sha }}
          path: |
            bin/

  update-release-notes:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Validate release stuff (tooth.json, CHANGELOG.md, etc.)
        run: |
          npm i -g keep-a-changelog
          python scripts/validate_release.py --tag ${{ github.event.release.tag_name }}

      - id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v1

      - uses: softprops/action-gh-release@v1
        with:
          body: |
            ${{ steps.extract-release-notes.outputs.release_notes }}

  upload-to-gitea:
    needs:
      - build
      - update-release-notes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        backend:
          - nodejs
          - lua
          - python
          - quickjs
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: legacy-script-engine-${{ matrix.backend }}-windows-x64-${{ github.sha }}
          path: release/

      - name: Upload to Gitea
        run: |
          git config --global user.name "Actions"
          git config --global user.email "shrbox@liteldev.com"
          rm release/legacy-script-engine-${{ matrix.backend }}/*.pdb
          git clone --depth=1 https://${{ secrets.GITEA_USER }}:${{ secrets.GITEA_TOKEN }}@gitea.litebds.com/LiteLDev/legacy-script-engine-${{ matrix.backend }}.git
          cd legacy-script-engine-${{ matrix.backend }}
          rm -rf legacy-script-engine-${{ matrix.backend }}
          mv ../release/legacy-script-engine-${{ matrix.backend }} .
          cp ../tooth.${{ matrix.backend }}.json tooth.json
          git add .
          git commit -m "Release ${{ github.event.release.tag_name }}"
          git tag ${{ github.event.release.tag_name }}
          git push
          git push --tags

  upload-to-release:
    needs:
      - build
      - update-release-notes
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        backend:
          - nodejs
          - lua
          - python
          - quickjs
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: legacy-script-engine-${{ matrix.backend }}-windows-x64-${{ github.sha }}
          path: release/

      - run: |
          cp CHANGELOG.md COPYING README.md release/

      - name: Archive release
        run: |
          cd release
          zip -r ../legacy-script-engine-${{ matrix.backend }}-windows-x64.zip *
          cd ..

      - uses: softprops/action-gh-release@v1
        with:
          files: |
            legacy-script-engine-${{ matrix.backend }}-windows-x64.zip
